<turbo-frame id="my_cart">
  <a href=<%= cart_show_path %> class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_self"> <i class="fa fa-2x fa-shopping-cart my-cart m-1 me-md-2" value=<%= total_cart_items %>></i></a>
</turbo-frame>