<!-- app/views/admin/products/new.html.erb -->

<div class="container mt-5">
  <h1>New Product</h1>
  <%= render 'form' %>
  <%= link_to 'Back', admin_products_path, class: 'btn btn-secondary mt-3' %>
</div>
