/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #f1f3f6;
}

.card{
    align-content: center;
}

.card-img-top
{
 margin-top: 25px;
    width: 255px;
    margin-left: 25px;
    /*height: 270px;*/
    /*width: 270px;*/
}

.rating-color{
    color:#fbc634 !important;
}

.ratings{
    margin-left:90px;
    margin-top: 20px;
}

.add-to-cart{
    width: 170px;
    margin-top: 10px;
}

.ms-6{
    margin-left: 70px
}

