<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
      }

      .container {
          max-width: 600px;
          margin: 20px auto;
          padding: 20px;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
      }

      h2 {
          color: #333;
      }

      p {
          color: #666;
      }

      .button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          background-color: #4CAF50;
          color: #fff;
          border-radius: 5px;
      }
  </style>
</head>
<body>
<div class="container">
  <h2>Password Reset</h2>
  <p>Hello <%= @resource.email %>,</p>
  <p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>
  <p>To reset your password, click the link below:</p>
  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
  <p>Thank you,</p>
  <p>NEXAR E-STORE</p>
</div>
</body>
</html>
